.video-list{
    background-color: rgb(250, 250, 250) !important;
}

.thumbs.down.outline.icon{
    /* padding-left: 50%; */
    font-size:2em;
}

i.sort.alphabet.down.icon{
    font-size: x-large;
    display:grid;
    align-content: center;
}
.css-ueukts-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(186 226 208) !important;
}

.buttons{
    margin:0px !important;
}